.article_border_act3{
    margin: 1%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0); /* 초기 그림자 없음 */
    transition: box-shadow 0.3s ease;
    width:100%;
    position: relative;
    float: right;
    border-radius: 5px;
    filter: grayscale(100%);
  }
  .profile_act3{
    width: 40%;
    height: 40%;
    position: relative;
    float: right;
  }

  @font-face {
    font-family: 'KOTRA_BOLD-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.1/KOTRA_BOLD-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
.title{
    font-family: 'KOTRA_BOLD-Bold';
    text-decoration: none;
    color: #000; 
    font-size: 40px;
    position: relative;
    display: inline;
  }

  .article_font_act3{
    font-family:'Chosunilbo_myungjo';
    position: relative;
    display: inline;
    color: #000; 
  }


  .card{
    position: fixed;
    width: 5%;
    height: 10%;
    color: #000;
  }