
.article_border{
    display: inline-block;
    margin: 1%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0); /* 초기 그림자 없음 */
    transition: box-shadow 0.3s ease;
    width:76%;
    filter: grayscale(100%);
    border-radius: 5px;
  }
  .article_border:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* 그림자 효과 설정 */
    filter: none;
  }

  .profile{
    width: 35%;
    height: 80%;
    position: relative;
    float: left;
  }
  .title{
    font-family: 'KOTRA_BOLD-Bold';
    text-decoration: none;
    color: #000; 
    position: relative;
    display: inline;
  }
  .title > a{
    font-size: 50px;
  }

  .article_font{
    position: relative;
    display: inline;
    color: #000; 
  } 


  .transparent-button {
    font-family: 'KOTRA_BOLD-Bold';
    background-color: transparent;
    border: transparent;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .transparent-button:hover {
    background-color: rgba(52, 152, 219, 0.1); /* hover 시 배경색 */
  }